<h1>Conditions new</h1>
<%= form_with(model: @condition, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<div class="display-4 font-weight-bold">
<div class="form-group row text-sm-nowrap">
    <div class="col-md-10 offset-md-2 mb-4">
        <p class="m-0">もし</p>
    </div>
    <div class="col-md-4 offset-md-2 mr-0 mb-4 pr-0">
        <%= f.collection_select :stock_id, Stock.all, :id, :name, class: "form-control" %>
    </div>
    <div class="col-md-6 ml-0">
        <p class="my-2">が、</p>
    </div>


    <div class="col-md-4 offset-md-2 mr-0 mb-4 pr-0">
        <%= f.select(:buy_condition, @condition_datalist, class: "form-control" ) %>
    </div>
    <div class="col-md-6 ml-0">
        <p class="my-2">になったら買い</p>
    </div>


    <div class="col-md-4 offset-md-2 mr-0 mb-4 pr-0">
        <%= f.select(:sell_condition, @condition_datalist, class: "form-control" ) %>
    </div>
    <div class="col-md-6 ml-0">
        <p class="my-2">になったら売るを</p>
    </div>


    <div class="col-md-4 offset-md-2 mr-0 mb-5 pr-0">
        <%= f.select(:duration, @duration_datalist, class: "form-control" ) %>
    </div>
    <div class="col-md-6 ml-0">
        <p class="my-2">くりかえしたら</p>
    </div>


<%= f.submit "どうなる？", class: "col-md-4 offset-md-4 btn btn-secondary btn-block btn-toppage", name: "preview" %>

<% if @preview_mode %>
    <div class="col-md-8 offset-md-2 my-5">
        <table class="table">
            <tr>
                <th class="text-center">評価額</th>
                <td class="text-right"><%= @results[0].floor.to_s(:delimited) %> 円</td>
            </tr> 
            <tr>
                <th class="text-center">損益</th>
                <td class="text-right text-<%= @results[1] >= 0 ? "success" : "danger" %>"><%= @results[1].floor.to_s(:delimited) %> 円</td>
            </tr> 
            <tr>
                <th class="text-center">利回り</th>
                <td class="text-right text-<%= @results[2] >= 0 ? "success" : "danger" %>"><%= (@results[2]*100).round(1) %> %</td>
            </tr> 
        </table>
        <p class="text-muted" style="font-size: 11px;"><%= @results[3] %></p>
    </div>
    <%= f.submit "条件を保存", class: "col-md-4 offset-md-4 btn btn-secondary btn-block btn-toppage" %>
<% end %>

</div>

<% end %>
